.Header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.Header img {
  margin-right: auto;
  aspect-ratio: 1.2/1;
  
}

.Header .ant-menu {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ant-menu-dark.ant-menu-horizontal {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #003399 !important;
  font-weight: bold;
  font-size: 1.4em;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-submenu{
  color: #0066cc !important;
  transition: all 0.3s ease;
  font-size: calc(1em + 0.1vw);
  width: calc(100% / 4);
}

.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active {
  color: #0275e9 !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2) !important;
  /* font-size: 1.2em; */
}

.ant-menu-submenu-title {
  color: #0066cc !important;
  background-color: rgba(0, 0, 0, 0) !important;
  transition: all 0.3s ease;
}

.ant-menu-submenu-popup {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.ant-menu-sub {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.ant-menu-sub .ant-menu-item {
  color: #0066cc !important;
  transition: all 0.3s ease;
}

.ant-menu-sub .ant-menu-item:hover,
.ant-menu-sub .ant-menu-item-active {
  color: #025eb9 !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2) !important;
  font-size: 1em;
}

.ant-menu-sub .ant-menu-item-selected {
  color: #003399 !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3) !important;
  font-size: 1.2em;
}

@media (width < 900px) {
   .Header .ant-menu .ant-menu-title-content {
    display: none;
   }
  .Header .ant-menu .ant-menu-item-icon {
    font-size: 1.4em;
  }

  .ant-menu-sub .ant-menu-item {
    font-size: 1em;
  }
  
}

@media (width < 550px) {
  .Header .ant-menu .ant-menu-title-content {
   display: none;
  }
 .Header .ant-menu .ant-menu-item-icon {
   font-size: 1.4em;
 }

 .ant-menu-sub .ant-menu-item {
   font-size: 0.7em;
 }
 
}

@media (width < 350px) {
  .Header .ant-menu .ant-menu-title-content {
   display: none;
  }
 .Header .ant-menu .ant-menu-item-icon {
   font-size: 1.4em;
 }

 .ant-menu-sub .ant-menu-item {
   font-size: 0.5em;
 }
 
}